<table class="tg">
    <thead>
      <tr>
        <th class="tg-0pky"></th>
        <th class="tg-0pky"></th>
        <th class="tg-0pky" colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="tg-0pky"></td>
        <td class="tg-0pky"></td>
        <td class="tg-0pky"></td>
        <td class="tg-0pky"></td>
      </tr>
      <tr>
        <td class="tg-0pky"></td>
        <td class="tg-0pky"></td>
        <td class="tg-0pky gradient" colspan="2" rowspan="2">OSTAP</td>
      </tr>
      <tr>
        <td class="tg-0pky"></td>
        <td class="tg-0pky"></td>
      </tr>
      <tr>
        <td class="tg-0pky"></td>
        <td class="tg-0pky"></td>
        <td class="tg-0pky"></td>
        <td class="tg-0pky"></td>
      </tr>
    </tbody>
    </table>